body{
    font-weight: bold;
}
.header{
    background-color: #593196;
}
.page-footer{
    position: fixed;
    left:0;
    bottom: 0;
    width: 100%;
    color: #ffffff;
    background: #593196;
}
.result-content{
    

}

@media only screen and (max-width: 767px) {
    .result-content {
      
      display: flex;
      align-content: center;
      width: 100%;
    }
    .result-content p {
        padding: 10px;
        
       margin: 0 auto;
    }