body{
    font-weight: bold;
}
.header{
    background-color: #593196;
    color: #ffffff;
}
.page-footer{
    position: fixed;
    left:0;
    bottom: 0;
    width: 100%;
    color: #ffffff;
    background: #593196;
    
}


@media only screen and (max-width: 767px) {
    .result-content {
        display: flex;
        justify-content: center;
        align-items:center;
        flex-direction: column;
        width: 100%;
        position: relative;
        margin-bottom:70px;
       
    }
    .result-content p {
        padding: 10px;
        
       margin: 0 auto;
    }